#game-title-h1 {
    font-weight: 900;
    font-size: 3em;
    padding: 0.8em;
    color: #fff;
}

header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}